.App {
  
  margin: 80px auto;
  max-width: 900px;
}




.App h1 {
  color: rgb(99, 26, 211);
  font-family: 'Rampart One', cursive;
  font-size: 82px;
  text-align: center;
   margin-bottom: 80px;

}


@media(max-width:576px) {

.App h1 {
  font-size: 64px;
}
}

