.App {
  
  margin: 80px 0;
}

.App-logo {
  max-width: 150px;
  display: block;
  margin: 0 auto;


}


.App h1 {
  color: rgb(99, 26, 211);
  font-family: 'Rampart One', cursive;
  font-size: 82px;
  text-align: center;
   margin-bottom: 80px;

}


